<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Add assignment</h1>
        <p class="text-white mt-0 mb-5">This is a form you can add assignment</p>
        <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add assignment</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form ngForm #addAssignmentForm (submit)="onSubmit($event);">
            <h6 class="heading-small text-muted mb-4">Add assignment</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Name">Name</label>
                    <input type="text" id="input-Name" class="form-control form-control-alternative" [(ngModel)]="nom"
                      name="nom" placeholder="Name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Subject">Subject</label>
                    <select class="form-control form-control form-control-alternative" [(ngModel)]="matiere">
                      <option id="input-Subject" class="form-control form-control-alternative"
                      value="option1" *ngFor="let item of matieres" [value]="item._id">Teacher : {{item.professeur}} - {{item.nom}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div>
                <div *ngIf="loading; else content">
                  <button class="btn btn-primary my-4">Save ...</button>
                </div>
                <ng-template #content>
                  <button class="btn btn-primary my-4">Save</button>
                </ng-template>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
