<div class="row">
  <div class="col-md-6">
    <div class="header bg-gradient-danger py-lg-8 py-2" style="height: 100vh;">
      <div class="container">
        <div class="header-body text-center mb-4">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Welcome back!</h1>
              <br>
              <p class="text-lead text-light">We're thrilled that you've chosen to continue with us! Please take a
                moment to login to your account using the email address and password associated with your profile.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-6" style=" height: 100vh">
    <div class="card bg-secondary shadow border-0">
      <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
          <a class="navbar-brand pt-0">
            <img src="./assets/img/brand/red.png" class="navbar-brand-img" alt="...">
          </a>
        </div>
        <div class="text-center text-muted mb-4">
          <small>Sign in with credentials</small>
        </div>
        <form role="form" ngForm #loginForm (submit)="onSubmit($event);">
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="email" name="email" placeholder="Email" type="email">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="password" name="password" placeholder="Password" type="password">
            </div>
          </div>
          <div class="text-center">
            <div *ngIf="loading; else content">
              <app-progress-bar *ngIf="loading"></app-progress-bar>
              <button *ngIf="loading" class="btn btn-primary my-4">Sign in ...</button>
            </div>
            <ng-template #content>
              <button class="btn btn-primary my-4">Sign in</button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <a [routerLink]="['/register']" class="text-light"><small class="">Not yet an account? Create a new
            one</small></a>
      </div>
    </div>
  </div>
</div>
