<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Assignements</h5>
                  <span class="h2 font-weight-bold mb-0">{{totalAssignments}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Authors</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0" *ngIf="loading; else content">Assignements (loading ...)</h3>
          <ng-template #content>
            <div class="row">
              <div class="col-10">
                <h3 class="mb-0">Assignements</h3>
              </div>
              <div class="col-2">
                <button class="btn btn-icon btn-sm btn-primary" type="button" (click)="addAssignment()">
                  Add assignment
                  <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                </button>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Subject</th>
                <th scope="col">Note</th>
                <th scope="col">Due</th>
                <th scope="col">Due date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let assignment of assignments">
                <th scope="row">
                  <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle border">
                      <app-initial [username]="assignment.nom"></app-initial>
                    </span>
                    <div class="media-body">
                      <span class="ml-2 mb-0 text-sm">{{assignment.nom}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle border">
                      <app-initial [username]="getAuthor(assignment)"></app-initial>
                    </span>
                  </div>
                </td>
                <td>
                  <div class="media align-items-center">
                    <a class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" [src]="getSubject(assignment)" style="height:100%">
                    </a>
                  </div>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{assignment.note}}
                  </span>
                </td>
                <td>
                  <div *ngIf="assignment.rendu; else contentRendu">
                    <span class="badge badge-pill badge-success">Due</span>
                  </div>
                  <ng-template #contentRendu>
                    <span class="badge badge-pill badge-default">Not due</span>
                  </ng-template>
                </td>
                <td>
                  {{date(assignment.dateDeRendu)}}
                </td>
                <td class="text-right">
                  <button class="btn btn-icon btn-1 btn-warning" type="button" (click)="editAssignment(assignment._id)">
                    <span class="btn-inner--icon"><i class="ni ni-ruler-pencil"></i></span>
                  </button>
                  <button class="btn btn-icon btn-1 btn-danger" type="button"
                    (click)="deleteAssignment(assignment._id)">
                    <span class="btn-inner--icon"><i class="ni ni-basket"></i></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer py-4" style=" overflow-x: auto;white-space: nowrap;">
          <nav aria-label="...">
            <ul class="pagination justify-content-center">
              <!-- <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li> -->
              <!-- <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li> -->
              <div *ngFor="let pagination of totalPages">
                <li [class]="isActive(pagination)">
                  <a class="page-link" (click)="setPagination(pagination)">{{pagination}} <span
                      class="sr-only">(current)</span></a>
                </li>
              </div>
              <!-- <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
